@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body {
    background-color: black;
    font-family: 'Sen', sans-serif;
    /*font-family: 'Macondo', cursive;*/
    color:white;
}

.header{
    background-color: rgb(16, 16, 31);
}