<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aikido Info</title>
    <style>
        .home_body {
            background-color: #464646;
            color: white;
            padding: 10px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
        .background-pattern {
            background: url("img/texture4.jpg") repeat;
        }
    </style>
</head>
<body >
    <div class="background-pattern">
    <div class="home_body">
    <h1>Sobre el Aikido</h1>
    <p>El Aikido es un arte marcial de origen japonés. Fundado por el Maestro Morihei Ueshiba (1883-1969) para la armonización del ser humano con la naturaleza y formar mejores hombres y mujeres.</p>
    
    <p>El principio general del entrenamiento en esta arte marcial se basa en la unificación de la mente y el cuerpo. Todo ello con firmes bases en la armonía, el amor y el cuidado de los individuos y la naturaleza. Los principios básicos rectores del Aikido se resumen en el respeto de la humanidad a través del cuidado del hombre y de todo ser que habita esta tierra para lograr convertir nuestra tierra en un mundo pacífico y de respeto para la sana convivencia humana y de todas las especies.</p>

    <h1>¿Yo puedo practicar Aikido?</h1>
    <h3>Resulta muy importante saber si nuestra personalidad se adapta a su práctica. Aquí analizamos algunas de sus características:</h3>
    
    <ul>
        <li>Aikido es un arte marcial que descarta plenamente la competición. El Aikido tradicional carece de combates o competiciones, de victorias y derrotas. Si hay una lucha, es con nosotros mismos, si encontramos una victoria, es en nuestros progresos.</li>
        <li>En Aikido no existen distinciones de graduación entre sus prácticantes antes de alcanzar el cinturón negro (a diferencia de otras artes marciales donde los prácticantes obtienen cinturones de distintos colores). La única retribución que se obtiene es la satisfacción al ir observando nuestra mejora constante.</li>
        <li>Aplicar las técnicas de Aikido de una forma mínimamente correcta requiere tiempo y constancia. En karate u otras disciplinas siempre podremos ejecutar desde el principio algunas técnicas de golpeo (con más o menos efectividad). En cambio, en Aikido nos encontraremos frecuentemente con que nos resulta muy complicado ejecutar las técnicas que se proponen y eso puede conducir a la frustración. Por lo tanto, dedicarse a la práctica del Aikido requiere una dosis de paciencia importante y una decisión firme de practicarlo durante un tiempo.</li>
        <li>A pesar de que el Aikido parte de las técnicas del Budo (la vía marcial seguida por los samurais), el Aikido no está pensado para ser aplicado en situaciones de combate real y, mucho menos, en luchas callejeras. Es por ese motivo, que muchos ataques pueden parecer hasta cierto punto irreales. En cambio, las técnicas en Aikido son un camino para el perfeccionamiento interno.</li>
        <li>El Aikido posee una fuerte carga filosófica y espiritual si bien ésta se experimenta en un principio desde un punto puramente físico. Justamente esta característica hace que los conceptos del Aikido sean extrapolables a la mayoría de las situaciones cotidianas en las que nos podamos encontrar.</li>
        <li>Aikido es un arte marcial muy flexible. Durante la práctica, una de las premisas es adaptarse al nivel de nuestro compañero de entrenamiento. Por lo tanto, en función de nuestra personalidad y nuestras capacidades físicas podremos ajustar nuestra forma de entrenar.</li>
        <li>Desde un punto de vista puramente físico, Aikido es un arte marcial que hace un especial hincapié en el desarrollo de la flexibilidad y la mejora postural. Esto ayuda a un mejor mantenimiento de nuestra estructura muscular y ósea. Por otra parte, y al contrario de lo que se podría pensar, existen muy pocas lesiones en Aikido ya que se incide fuertemente en la forma de recibir las técnicas para evitar accidentes.</li>
        <li>Por último, Aikido es sobre todo un viaje que guarda muchas sorpresas en cada una de sus etapas. Cada vez que creemos que hemos aprendido todo, nos encontraremos con algo nuevo a lo que enfrentarnos que nos ayudará a ser más flexibles, amables, honestos y tolerantes. Ahí es donde reside el verdadero atractivo del Aikido como arte marcial.</li>
    </ul>
</div>
</div>
</body>
</html>