<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .home_body {
            background-color: gray;
            background-image: url("img/texture4.jpg");

            color: white;
            padding: 10px;
        }

        .background-pattern {
            background: url("img/texture4.jpg") repeat;
            
            /*opacity: .9;*/
        }
    </style>
</head>

<body >
    <div class="home_body background-pattern">
        <h1>Bienvenidos</h1>
        <h2></h2>
        <p>
            "Aikido es amor. El camino del arte marcial es completar la propia misión, haciéndose uno con los grandes
            espíritus del universo y los protectores del amor. Aikido es el camino de vencer sobre sí mismo, eliminando
            el
            espíritu de confrontación y finalmente erradicando todos los pensamientos de rivalidad y oposición por
            completo.
            Las técnicas de Aikido transmiten los principios del universo al cuerpo físico. Ellos combinan el espíritu y
            la
            carne en uno y nos llevan hacia la más alta manifestación, nuestra propia misión."
        </p>
        <span>O'Sensei Morihei Ueshiba</span>

        <div style="margin:10px; text-align:center;">
            <img src="img/Aikido8-612x612.jpg" width="32%" height="auto">
            <img src="img/Aikido14-612x612.jpg" width="32%" height="auto">
            <img src="img/Aikido3-612x612.jpg" width="32%" height="auto">
        </div>

        <h2>El Aikido no es un deporte sino un arte</h2>
        <p>La propuesta del Aikido no consiste en golpear o eliminar al adversario, sino en crear una situación en la
            cual
            el ataque se detenga. Cada técnica genera una nueva situación, por lo cual es importante saber de qué manera
            irán surgiendo situaciones nuevas hasta que el ataque deje de existir. El arte del Aikido consiste en
            desarrollar técnicas bellas y armoniosas, que creen una nueva realidad a partir de situaciones de peligro
            reales
            del mundo real".</p>
</body>
</div>

</html>